# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data and Vector Store (Ignore large raw data and local DBs)
data/raw/*
data/processed/*.csv
vector_store/

# IDE settings
.vscode/
.idea/

# OS specific
.DS_Store